@font-face {
    font-family: "Myfont";
    src: url("Arimo.ttf");
  }
  body {
    background-color: black;
    color: white;
    font-family: "Myfont";
    margin: 0;
    height: 100%;
    font-weight: bold;
  }

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 40px;
}
